.hero {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../images/background.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    @include size(100%);
    @include position(absolute, 0 null null 0);
    content: "";
    background: rgb(91, 58, 118);
    background: linear-gradient(180deg, rgba(91, 58, 118, 1) 0%, rgba(118, 26, 77, 1) 100%);
    opacity: 0.6;
  }

  &::after {
    @include size(100%);
    @include position(absolute, null null -2px null);
    background-image: url("../images/curv.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    z-index: 2;
  }

  .container {
    position: relative;
    text-align: center;
    z-index: 3;

    h1 {
      font-size: 72px;
      font-weight: 500;
      line-height: 1.2;
      margin: 0;
    }

    h4 {
      font-size: 36px;
      font-weight: 400;
      margin: 0;
    }
  }


}
