dialog {
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 60vw;
}

body {
  &.scroll-lock {
    height: 100vh;
    overflow-y: hidden;
  }
}


.scroll {
  opacity: 0.7;
  background-color: #5b3a76;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  z-index: 99;

  &:hover {
    background-color: #5b3a76;
    opacity: 1;
  }

  svg {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    height: 20px;
    width: 20px;
  }
}
